server/local_settings.py
coverage_report/
sleeping/
ace-clone/
server/vendor/bin/markdown_py
server/static/thumbnails/
server/.static_name_conversion
send_mail_config.py
TODO
blurring/blurred/
blurring/tileshifted/
blurring/me.jpg
server/static/tmp_uploads/
