{% extends "../base.html" %}

{% block content %}
      <table class="condensed-table table">
        <thead>
          <tr>
            <th>State of user</th>
            <th>Count</th>
            <th>Percentage</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Not Anonymous</td>
            <td>{{ not_anonymous }}</td>
            <td>{{ not_anonymous_percentage }}%</td>
          </tr>
          <tr>
            <td>Anonymous</td>
            <td>{{ no_anonymous }}</td>
            <td>{{ no_anonymous_percentage }}%</td>
          </tr>
        </tbody>
      </table>

      <table class="condensed-table table">
        <thead>
          <tr>
            <th>Location</th>
            <th>Count</th>
          </tr>
        </thead>
        <tbody>
          {% for count, location in locations %}
          <tr>
            <td><a href="{{ reverse_url('admin_location', location['_id']) }}">{{ location }}</a></td>
            <td>{{ count }}</td>
          </tr>
          {% end %}
        </tbody>
      </table>

{% end %}
