<div id="city" class="overlay">

  <div class="home section">
    <h2>Welcome to <strong class="location-name"></strong></h2>
    <p>Mucho work needed to be done here.</p>

    <ul>
      <li><a href="#city,intro" class="overlay-changer">First, read an introduction about <span class="location-name"></span></a></li>
      <li><a href="#airport" class="overlay-changer">Go to the airport</a></li>
      <li><a href="#city,embassy" class="overlay-changer">Meet the ambassadors</a></li>
      <li><a href="#city,jobs" class="overlay-changer">Check out the jobs</a></li>
    </ul>

  </div>

  <div class="jobs section" style="display:none">

    <h2>Jobs in <strong></strong></h2>

    <ul class="jobs">
    </ul>

    <p>
      <a href="#city" class="overlay-changer">Back to the city</a>
    </p>

  </div>

  <div class="embassy section" style="display:none">
    <h2>Embassy of <span class="location-name"></span></h2>
    <div class="html-container">
    </div>
    <div class="none">
      <p><strong>Sorry</strong>, this country doesn't have any ambassadors.</p>
      <p>If you want to become the ambassador of this country then let us know:
        <a href="#contactus" class="overlay-changer">Contact us</a>
      </p>
    </div>

    <p>
      <a href="#city" class="overlay-changer">Back to the city</a>
    </p>
  </div>

  <div class="pictures section" style="display:none">
    <h2>Pictures of <span class="location-name"></span></h2>
         <div id="picture-carousel" class="carousel slide" style="width:75%;margin:auto">
            <div class="carousel-inner">
            </div>
            <a class="left carousel-control" href="#picture-carousel" data-slide="prev">&lsaquo;</a>
            <a class="right carousel-control" href="#picture-carousel" data-slide="next">&rsaquo;</a>
          </div>
    <p>
      <a href="#city" class="overlay-changer">Back to the city</a>
    </p>
  </div>


  <div class="intro section" style="display:none">
    <h2>Introduction to <span class="location-name"></span></h2>
    <div class="html-container">
    </div>
    <div class="none">
      <p><strong>Sorry</strong>, this country doesn't have an introduction text.</p>
    </div>

    <p>
      <a href="#city" class="overlay-changer">Back to the city</a>
    </p>
  </div>


</div>
