<div id="miles" class="overlay" style="display:none">
  <img src="." data-src="{{ static_url('images/big-airplane.png') }}" alt="Miles" class="overlay-image deferred">
  <h2>Miles and Flight Log</h2>

  {% include "_loading.html" %}


<ul class="short-stats" style="display:none">
<li><strong>You have travelled <em class="miles-friendly">x,xxx miles</em></strong></li>
<li>You have visited <strong class="no-cities"></strong>
of a total of <strong class="no-cities-possible"></strong> possible</li>
<!--<li>And covered <em class="percentage">xx%</em> of going around the world</li>-->
</ul>

<div class="flightlog" style="display:none">
<table class="table table-condensed">
  <thead>
    <tr>
      <td>From</td>
      <td></td>
      <td>To</td>
      <td>Miles</td>
      <td>When</td>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
</div>


<p class="exit">
Ok. <a href="#city" class="overlay-changer">Go back to the city</a>
or
<a href="#airport" class="overlay-changer">go to the city airport</a>
</p>

</div>
