<div id="settings" class="overlay" style="display:none">
  <img src="." data-src="{{ static_url('images/settings-icon.png') }}" alt="Settings" class="overlay-image deferred">
  <h2>Settings</h2>

  <p class="saved-notification" style="display:none">
    Settings saved!
  </p>

<form class="form-horizontal">
  <fieldset>

    <div class="control-group for-username">
      <label class="control-label" for="id-username">Username:</label>
      <div class="controls">
        <input type="text" name="username" class="input-xlarge" id="id-username">
        <p class="help-text username-error-text" style="display:none"></p>
      </div>
    </div>

    <div class="control-group for-first_name">
      <label class="control-label" for="id-first_name">First name:</label>
      <div class="controls">
        <input type="text" name="first_name" class="input-xlarge" id="id-first_name">
        <p class="help-text first_name-error-text" style="display:none"></p>
      </div>
    </div>

    <div class="control-group for-last_name">
      <label class="control-label" for="id-last_name">Last name:</label>
      <div class="controls">
        <input type="text" name="last_name" class="input-xlarge" id="id-last_name">
        <p class="help-text last_name-error-text" style="display:none"></p>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="id-disable-sound">Disable sound:</label>
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" name="disable_sound" id="id-disable-sound" value="yes">
          <!--Option one is this and that—be sure to include why it's great-->
        </label>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="id-unsubscribe-emails">No emails:</label>
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" name="unsubscribe_emails" id="id-unsubscribe-emails" value="yes">
          Unsubscribe from all emails (notifications, newsletters, announcements)
        </label>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
      <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </div>

  </fieldset>
</form>


  <div class="still-anonymous" style="display:none">
  <p>You are not signed in yet. If you do that you get an award and you can
  save your progress and continue on another computer.</p>
  <p>
    <a href="#signin" class="overlay-changer"><strong>Sign in to save your progress</strong></a>
  </p>

  </div>


  <p class="exit">
  Ok. <a href="#city" class="overlay-changer">Go back to the city</a>
  </p>

</div>
