<div id="miles" class="overlay">
  <img src="{{ static_url('images/big-airplane.png') }}" alt="Miles" class="overlay-image">
  <h2>Miles</h2>

<ul class="short-stats" style="display:none">
<li><strong>You have travelled <em class="miles-friendly">x,xxx miles</em></strong></li>
<li>You have visited <strong class="no-cities"></strong></li>
<li>And covered <em class="percentage">xx%</em> of going around the world</li>
</ul>

<div class="flightlog" style="display:none">
<h3>Flight Log</h3>
<table>
  <thead>
    <tr>
      <td>From</td>
      <td></td>
      <td>To</td>
      <td>Miles</td>
      <td>When</td>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
</div>


<p class="exit">
Ok. <a href="#city" class="overlay-changer">Go back to the city</a>
</p>

</div>
