<div id="feedback" class="overlay" style="display:none">
  <h2>Feedback</h2>

    <div class="alert alert-success" style="display:none">
      <strong>Thank you!</strong> Feedback is always really useful!
      <a href="#city" class="overlay-changer">Go back to the city</a>
    </div>

    <form class="form-horizontal">
      <div class="control-group email-input">
        <label class="control-label" for="id_email">Email</label>
        <div class="controls">
          <input class="input-xlarge" id="id_email">
          <p class="help-block">Alternatively, <a href="#login" class="overlay-changer">sign in</a> first.</p>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="id_what">What's up?</label>
        <div class="controls">
	  <select name="what" id="id_what">
	    <option value="general" selected>General</option>
	    <option value="bug">Something not working</option>
	    <option value="ideas">I have an idea</option>
	    <option value="praise">Praise</option>
	    <option value="complaint">Complaint</option>
	    <option value="other">Other</option>
	  </select>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="id_comment">Textarea</label>
        <div class="controls">
          <textarea class="input-xlarge" id="id_comment" rows="5"></textarea>
        </div>
      </div>


      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Send in feedback</button>
        <button type="reset" class="btn">Cancel</button>
      </div>

    </form>

<p class="exit">
Ok. <a href="#city" class="overlay-changer">Go back to the city</a>
or read  <a href="#about" class="overlay-changer">About this game</a>
</p>

</div>
