<div id="settings" class="overlay">
  <img src="{{ static_url('images/settings-icon.png') }}" alt="Settings" class="overlay-image">
  <h2>Settings</h2>

  <p class="saved-notification" style="display:none">
    Settings saved!
  </p>

  <form class="form-horizontal">
      <div class="control-group">
        <label class="control-label" for="id_disable_sound">Disable sound?</label>
        <div class="controls">
          <label class="checkbox">
            <input type="checkbox" id="id_disable_sound" name="disable_sound" value="yes">
            <!--Option one is this and that—be sure to include why it's great-->
          </label>
        </div>
      </div>
  </form>

  <p class="exit">
  Ok. <a href="#city" class="overlay-changer">Go back to the city</a>
  </p>

</div>
