<div id="screenshots" class="overlay" style="display:none">
  <p style="float:right; font-weight:bold; font-size: 1.4em">
    <a href="#signin" class="overlay-changer">I'm ready to give it a try! &gt;&gt;</a>
  </p>
  <h2>Screenshots of {{ page_title }}</h2>

  <div class="pictures section" style="display:none">
    <div id="screenshot-carousel" class="carousel slide" style="width:700px;margin:auto">
      <div class="carousel-inner">
      </div>
      <a class="left carousel-control" href="#screenshot-carousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#screenshot-carousel" data-slide="next">&rsaquo;</a>
    </div>

  </div>

</div>
