<div id="airport" class="overlay">
  <img class="overlay-image deferred" src="." data-src="{{ static_url('images/airport.png') }}" alt="Airport sign" >
  <h2></h2>

  <div class="confirm" style="display:none">
    <p><strong>Are you sure you want to buy a ticket to <em></em>?</strong></p>
    <p>The price is <strong class="cost"></strong><br>
    and you currently have <span class="current-coins"></span></p>


    <form>
      <input type="hidden" name="id" value="">
      <p class="cant-afford" style="display:none">
      Sorry you <strong>can't afford that</strong> yet. You need
      <strong class="more-coins"></strong> more coins.
      <a href="#city" class="overlay-changer">You need to work more</a>
      </p>
      <button type="submit" class="btn btn-primary">Yes! Buy the ticket</button>
      <button type="reset" class="btn">Cancel</button>
    </form>
  </div>

  <div class="choices">
  <p>
    Your choices depend on how much coins you have. You currently have
    <strong class="current-total"></strong>.
  </p>

  <table class="destinations">
  <thead>
    <tr>
      <td>Destination</td>
      <td class="number">Distance</td>
      <td class="number">Price</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="3"><p><em>Loading prices. Please wait...</em></p></td>
    </tr>
  </tbody>
  </table>

  </div>

  <p class="exit">
   <a href="#city" class="overlay-changer">Go back to the city</a>
  </p>

</div>
