  <div id="usernav">
    <ul>
    {% if state['user'] %}
      <li><strong>{{ state['user']['name'] }}</strong></li>

     {% if state['location'] %}
      <li class="user-location">
        Currently in: <strong>
        {{ state['location']['city'] }},
        {% if state['location']['locality'] %}
        {{ state['location']['locality'] }}
        {% else %}
        {{ state['location']['country'] }}
        {% end %}
        </strong>
      </li>
      {% end %}

      <li class="user-miles">
        <a href="#miles" class="overlay-changer">{% module Thousands(state['user']['miles_total']) %} miles</a>
      </li>

      <li class="user-coins">
        <a href="#coins" class="overlay-changer">{% module Thousands(state['user']['coins_total']) %} coins</a>
      </li>

      <li class="user-profile">
        <a href="#settings" class="overlay-changer" title="Settings">settings</a>
        <a href="/logout/" title="Sign out">sign out</a>
      </li>

    {% else %}
      <li><a href="#login" class="overlay-changer login"><strong>Sign in</strong> to get going!</a></li>

    {% end %}
    </ul>
  </div>
