<div id="leaguenews" class="overlay" style="display:none">
  <img src="." data-src="{{ static_url('images/leaguenews.png') }}" alt="League News" class="overlay-image deferred">
  <h2>What your friends have been up to</h2>

  <div class="items" style="display:none">
  </div>

  <p class="load-more" style="display:none">
    <a href="#leaguenews">Load more news &rarr;</a>
  </p>

  <p class="rewind" style="display:none">
    <a href="#leaguenews">&larr; Go back to the beginning</a>
  </p>

  <div class="no-news" style="display:none">
    <p>No news is sometimes good news</p>
  </div>

  <p>
    Wanna add more friends to your league?
    <strong>Go to your <a href="#league" class="overlay-changer">League of Friends</a></strong>
  </p>

<p class="exit">
Ok. <a href="#city" class="overlay-changer">Go back to the city</a>
</p>

</div>
