<div id="city" class="overlay" style="display:none">

  {% include "_loading.html" %}

  <div class="tutorial section" style="display:none">
    <h2>Welcome to the tutorial</h2>
    <div class="start-jobs">
      <p>In the city you can find jobs, read about the city, write messages and
      lastly, go to the airport to fly to the next city.</p>
      <p class="next-step">But first, <a href="#city,jobs" class="overlay-changer">check out the available jobs &rarr;</a></p>
    </div>
    <div class="start-airport" style="display:none">
      <h4>Congratulations! You can now fly to your first destination!</h4>
      <p>Places you can fly to...</p>
      <ul>

      </ul>
      <p class="next-step">Finish the tutorial and, <a href="#airport" class="overlay-changer">go to the airport &rarr;</a></p>
    </div>
  </div>

  <div class="home section" style="display:none">
    <h2>Welcome to <strong class="location-name"></strong></h2>

    <!--<p>Mucho work needed to be done here.</p>-->


    <ul>
      <li class="intro-link"><a href="#city,intro" class="overlay-changer">First, an introduction about <span class="location-name"></span></a></li>
      <li style="display:none" class="pictures-link"><a href="#city,pictures" class="overlay-changer">Look at pretty pictures</a></li>
      <li class="ambassadors-link"><a href="#city,embassy" class="overlay-changer">Meet the ambassadors</a></li>
      <li><a href="#city,jobs" class="overlay-changer">Check out the jobs</a></li>
      <li><a href="#airport" class="overlay-changer">Go to the airport</a></li>
      <li><a href="#questionwriter" class="overlay-changer">Write your own questions</a></li>
      <li><a href="#city,messages" class="overlay-changer">Writings on the wall</a></li>
      <li><a href="#about" class="overlay-changer">About this game</a></li>

    </ul>

    <form class="message-teaser" style="display:none">
    <input name="teaser" placeholder="Write something about your visit...">
    </form>

    <div class="affordable-tickets" style="display:none">
      <h3>Next affordable tickets</h3>
      <div class="destination">
        <p><a href="#airport" class="overlay-changer">Paris</a>
	<span class="ticket-info">304 coins</span>
	</p>
        <div class="progress progress-striped">
          <div class="bar" style="width: 20%;"></div>
        </div>
      </div>

      <div class="destination">
        <p><a href="#airport" class="overlay-changer">London</a>
	<span class="ticket-info">104 coins</span>
	</p>
        <div class="progress progress-striped progress-success">
          <div class="bar" style="width: 100%;text-align:left">
	  <span style="float:right;margin-right:4px">104 coins</span>
	  <a href="#" style="margin-left:4px">London</a>
	  </div>
        </div>
      </div>

    </div><!-- /affordable-tickets -->


  </div>

  <div class="messages section" style="display:none">
    <h2>Messages from visitors of <strong></strong></h2>
    <div class="messages-outer">
    </div>

    <form action="." class="post-message" style="display:none">
      <h4>Write something about your visit to <span class="location-name"></span></h4>
      <textarea name="message"></textarea>
      <button type="submit" class="btn">Post it</button>
    </form>

    <form action="." class="cant-post-message" style="display:none">
      <h4>Write something about your visit to <span class="location-name"></span></h4>
      <p><a href="#login" class="overlay-changer">To be able to do that, sign in properly</a></p>
    </form>

    <p>
      <a href="#city" class="overlay-changer">Back to the city</a>
    </p>

  </div>


  <div class="jobs section" style="display:none">

    <h2>Jobs in <strong></strong></h2>
    <p><strong>Day <span class="day-number"></span></strong> working in this city.</p>
    <ul class="jobs">
    </ul>

    <p>
      <a href="#city" class="overlay-changer">Back to the city</a>
    </p>

  </div>

  <div class="embassy section" style="display:none">
    <h2>Embassy of <span class="location-name"></span></h2>
    <div class="html-container">
    </div>
    <div class="none">
      <p><strong>Sorry</strong>, this country doesn't have any ambassadors.</p>
      <p>If you want to become the ambassador of this country then let us know:
        <a href="#contactus" class="overlay-changer">Contact us</a>
      </p>
    </div>

    <p>
      <a href="#city" class="overlay-changer">Back to the city</a>
    </p>
  </div>

  <div class="pictures section" style="display:none">
    <h2>Pictures of <span class="location-name"></span></h2>
         <div id="picture-carousel" class="carousel slide" style="width:75%;margin:auto">
            <div class="carousel-inner">
            </div>
            <a class="left carousel-control" href="#picture-carousel" data-slide="prev">&lsaquo;</a>
            <a class="right carousel-control" href="#picture-carousel" data-slide="next">&rsaquo;</a>
          </div>
    <p>
      <a href="#city" class="overlay-changer">Back to the city</a>
    </p>
  </div>


  <div class="intro section" style="display:none">
    <h2>Introduction to <span class="location-name"></span></h2>
    <div class="html-container">
    </div>
    <div class="none">
      <p><strong>Sorry</strong>, this country doesn't have an introduction text.</p>
    </div>

    <p>
      <a href="#city" class="overlay-changer">Back to the city</a>
    </p>
  </div>


</div>
