<div id="coins" class="overlay">
  <img src="{{ static_url('images/coins-image.png') }}" alt="Coins" class="overlay-image">
  <h2>Coins</h2>

<p class="short-stats" style="display:none">
You currently have <strong></strong>. The only way to earn more coins is to
<a href="#city,jobs" class="overlay-changer">get a job</a> in the
<a href="#city" class="overlay-changer">city you're in</a>.
</p>

<div class="purchases" style="display:none">
<h3>Purchases:</h3>
<table>
  <thead>
    <tr>
      <td></td>
      <td>Description</td>
      <td>Price</td>
      <td>When</td>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan="4" class="load-more"><a href="#">load more</a></td>
    </tr>
  </tfoot>
  <tbody>
  </tbody>
</table>
</div>

<div class="jobs" style="display:none">
<h3>Jobs you've had:</h3>
<table>
  <thead>
    <tr>
      <td>Description</td>
      <td>Location</td>
      <td>Amount</td>
      <td>When</td>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
</div>

<p class="exit">
Ok. <a href="#city" class="overlay-changer">Go back to the city</a>
</p>

</div>
