<div id="about" class="overlay" style="display:none">
  <img src="." data-src="{{ static_url('images/me-travelling.jpg') }}" alt="Me with my camera" class="overlay-image deferred">
  <h2>About this game</h2>

  <p><strong>Around The World</strong> is an online game experiment built by
  <a href="http://www.peterbe.com"><strong>Peter Bengtsson</strong></a>.
  </p>

  <p>The inspiration for this game was a game I used to play when I was a kid called
  <a href="http://en.wikipedia.org/wiki/Backpacker_%28series%29">Backpacker</a> that I loved
  because it combined both fun and learning something. This game doesn't try to copy that
  game but is definitely inspired by it.</p>

  <p>My job is a Web Developer at <a href="http://www.mozilla.org">Mozilla</a> but this
  game is my weekend project that I work on to learn how to build a fun and interactive game.
  Because it's something I do for fun I only have time to add the features I personally
  find most enjoying to play and to develop.</p>

  <p>All questions I write myself from reading Wikipedia articles or just from stuff I
  happen to know. My goal is to make it possible to have people playing the game to
  contribute questions and pictures.</p>
  
  <p>
  Thank you <a href="http://www.icons-land.com/" target="_blank">Icon-Land</a> for icons.
  </p>

  <p>To show your support
  <a href="https://www.facebook.com/aroundtheworldgame">Like this game on Facebook</a>.
  </p>

  <!-- Place this tag where you want the +1 button to render. -->
  <div class="g-plusone" data-annotation="inline" data-width="300" data-href="https://plus.google.com/b/117390431754479785000/117390431754479785000"></div>

  <p class="exit">
  Ok. <a href="#city" class="overlay-changer">Go back to the city</a>
  </p>

</div>
