<div id="quizzing" class="overlay">
  <div class="timer" style="display:none"></div>
  <!--<h2 class="quiz-name"></h2>-->
  <h2>Play quiz!</h2>

  <div class="points-total-outer">
    <p>Points:</p>
    <p class="points-total">0</p>
  </div>

  <input type="hidden" name="id">
  <p class="question">
    <strong>Question:</strong>
  </p>
  <ol class="alternatives">
  </ol>
  <p class="question-attention tooslow" style="display:none">
   Sorry, too slow!
   <span class="next-timer">Next question in <span class="timer"></span> seconds...</span>
  </p>
  <p class="question-attention pleasewait" style="display:none">
  Wait! Checking your answer...
  </p>
  <p class="question-attention correct" style="display:none">
   Yay! That's right!!<br>
   <span class="next-timer">Next question in <span class="timer"></span> seconds...</span>
  </p>
  <p class="question-attention wrong" style="display:none">
   Wrong! Sorry, the correct answer was: <strong class="correct-answer"></strong><br>
   <span class="next-timer">Next question in <span class="timer"></span> seconds...</span>
  </p>

  <p class="exit">
  I give up!  <a href="#city" class="overlay-changer">Go back to the city</a>
  </p>

</div>
