<div id="login" class="overlay">
  <h2>Sign in and registration</h2>


  <div class="left">
    <h3>Secure login</h3>

    <p>
    <a class="btn btn-large auth" href="/auth/google/">
      <img src="{{ static_url('images/google-login-small.png') }}" alt="Sign in with Google">
      Sign in with Google
    </a>

    </p>

  </div>

  <div class="right">
    <h3>Or...</h3>

    <p>
    <a class="btn btn-large auth" href="/auth/anonymous/">
      <img src="{{ static_url('images/anonymous.png') }}" alt="Play anonymously">
      Play anonymously
    </a>
    </p>

  </div>

  <p class="other-note">Other forms of signing in is coming in a future version.</p>

</div>
