<div id="awards" class="overlay" style="display:none">
  <h2>Awards</h2>

  <div class="wrapper-outer" style="display:none">
    <div class="wrapper" style="float:left">
      <h2 class="title title-job">Award of Job Completed</h2>
      <h2 class="title title-generic">Award of Achievement</h2>

      <p class="type type-job">In recognition of the satisfactory fullfilment of the requirements
      pertaining to the job as</p>

      <p class="type type-generic">In recognition of the satisfactory fullfilment of</p>

      <p class="description description-job"><span class="category">Tour Guide</span>
        <span class="in-location"> in </span>
        <span class="location">Tokyo, Japan</span>
      </p>
      <p class="description description-tutorial">
        Completing the Tutorial
      </p>
      <p class="description description-signin">
        Signing in Properly
      </p>
      <p class="description description-10k">
        Flying over 10,000 miles
      </p>
      <p class="description description-50k">
        Flying over 50,000 miles
      </p>
      <p class="description description-100k">
        Flying over 100,000 miles
      </p>

      <p>Granted hereby to </p>
      <p class="name"></p>
      <div class="footer">
      <p class="date"></p>
      <p class="signature"></p>
      </div>

    </div><!-- /.wrapper -->
    <div class="wrapper-metadata">
      <p>
        <a class="return yours" style="display:none" href="#awards">Go back to list of awards</a>
        <a class="overlay-changer not-yours" style="display:none" href="#welcome">Sign in to get your own awards</a>
      </p>
      <p class="long-description" style="display:none">
        <strong>Description:</strong><br>
        <span></span>
      </p>

      <p class="uniqueness" style="display:none">
        <span style="display:none" class="uniqueness-great">
          <strong>Congratulations!</strong> Only <strong class="uniqueness-percentage"></strong>
          of travellers have received this award.
        </span>
        <span style="display:none" class="uniqueness-ok">
          <strong class="uniqueness-percentage"></strong>
          of travellers have received this award.
        </span>
      </p>

      <p class="login-push" style="display:none">
        <a href="#login" class="overlay-changer">Sign in to put your real name on the award</a>
      </p>

    </div>
    <br style="clear:left">
  </div><!-- /.wrapper-outer -->

  <div class="index-outer">
    <div class="explanation">
      <h3>How to earn more awards</h3>
      <ul>
      <li class="explanation-tutorial">
        You can get a <strong>50 coins</strong> award for completing the tutorial.
      </li>
      <li class="explanation-signin">
        You can get a <strong>100 coins</strong> award for signing in properly.
      </li>
      <li>
        When you finish a job with perfect results you get a <strong>100 coins</strong> reward.
      </li>
      <li class="explanation-10k">
        When you collect your first 10,000 miles you get a <strong>75 coins</strong> reward.
      </li>
      <li class="explanation-50k">
        When you collect your first 50,000 miles you get a <strong>150 coins</strong> reward.
      </li>
      <li class="explanation-100k">
        When you collect your first 100,000 miles you get a <strong>500 coins</strong> reward.
      </li>
      </ul>
    </div>
    <div class="index">
      <div class="award">

      </div>
    </div>
  </div>

  <div class="none" style="display:none">
    <p><strong>You have not yet earned any awards.</strong></p>
    <p>You can earn awards by doing excellent in the jobs such as getting all answers right.<br>
    There are also other ways to earn awards by just being excellent.</p>
    <p><a href="#city,jobs" class="overlay-changer">Go earn some coins now</a></p>
  </div>

  <img class="thumbnail-template deferred" style="display:none" src="." data-src="{{ static_url('images/diploma.png') }}" alt="thumbnail">

<p class="exit">
Ok. <a href="#city" class="overlay-changer">Go back to the city</a>
</p>

</div>
