<div id="news" class="overlay" style="display:none">
  <img src="." data-src="{{ static_url('images/news.png') }}" alt="News" class="overlay-image deferred">
  <h2>News for you</h2>

  <div class="item" style="display:none">
    <a href="#news" class="closer">close</a>
    <h3 class="title"></h3>
    <p class="body"></p>
    <p class="metadata">Sent to you <strong></strong></p>
  </div>

  <div class="items" style="display:none">
    <div>

    </div>
  </div>

  <div class="no-news" style="display:none">
    <p>No news is sometimes good news</p>
  </div>

<p class="exit">
Ok. <a href="#city" class="overlay-changer">Go back to the city</a>
</p>

</div>
