<div id="welcome" class="overlay">
  <h2>Welcome to {{ page_title }}!</h2>

  <div class="not-logged-in alternative">
    <p>At some point, there's going to be a bunch of cool stuff right here about what the hell this is.</p>

    <p class="login" style="text-align:center; font-weight:bold; font-size:1.2em">
      <a href="#login" class="overlay-changer">Sign in to get going! &gt;&gt;&gt;</a>
    </p>
  </div>

  <div class="nomansland alternative">
    <h3>This is where the journey begins!<br>
    You start the tutorial in Nomansland.</h3>
    <ul>
      <li>Your goal is to fly around the world.</li>
      <li>To buy airplane tickets you need to work various jobs.</li>
      <li>Have fun! And good luck and enjoy your experience!</li>
    </ul>

    <p class="begin"><a href="#city" class="overlay-changer">First, go to the city &rarr;</a></p>

  </div>

  <div class="not-chosen-location alternative">
    <p>First thing you need to do is to choose a starting location</p>
    <form>
      <select name="id">
        <option value="">Chose start location:</option>

      </select>
    </form>
  </div>

  <div class="welcome-back alternative">
    <h3>Welcome back!!</h3>

    <p>Your current location is <strong class="current-location"></strong>.<br>
    <a href="#city" class="overlay-changer">Go there now!</a>
    </p>
  </div>


</div>
