<div class="question">
  <h3></h3>

  <div class="thumbnail-wrapper">
  </div>

  <dl class="dl-horizontal">
    <dt>Answer:</dt>
    <dd class="correct"></dd>

    <dt>Alternatives:</dt>
    <dd class="alternatives"></dd>

    <dt>Category:</dt>
    <dd class="category"></dd>

    <dt>Difficulty:</dt>
    <dd class="points-value"></dd>

    <dt>Status:</dt>
    <dd class="status">
      <span class="label label-success published" style="display:none">Success</span>
      <span class="label label-info pending" style="display:none">Pending review</span>
    </dd>

  </dl>


  <p><a class="return" href="#questionwriter">Go back to list of <strong>Submitted questions</strong></a></p>
</div>
