<div id="questionwriter" class="overlay" style="display:none">
<p class="info-toggle" style="float:right; display:none">
  <a href="#questionwriter">?</a>
</p>

<h2>Question Writer</h2>

<div class="alert alert-info">
   <button class="close" data-dismiss="alert">×</button>
   <ul>
     <li>For <strong>every question you write, you earn 1 coin every time</strong> somebody plays that question.</li>
     <li>Every question you submit will need to be reviewed first.</li>
     <li>Easy questions are more fun to play.</li>
     <li>If you want to start a new category use the <a href="#feedback" class="overlay-changer">Feedback form</a></li>
   </ul>
</div>

<ul class="nav nav-tabs">
  <li class="active"><a href="#tab-form" data-toggle="tab">New question</a></li>
  <li><a href="#tab-questions" data-toggle="tab">Submitted questions (<span class="count">0</span>)</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active form" id="tab-form">
  {% include "div._questionwriter.form.html" %}
  </div>
  <div class="tab-pane questions" id="tab-questions">
  {% include "div._questionwriter.questions.html" %}
  {% include "div._questionwriter.question.html" %}
  </div>
</div>

<p class="exit">
<a href="#city" class="overlay-changer">Go back to the city</a>
</p>

</div>
