<div id="usernav">
    <ul>

      <li class="user-location logged-in" style="display:none">
        <span class="city-prefix">Currently in: </span>
        <a href="#city" class="overlay-changer">
        {% if state.get('location') %}
          {{ state['location']['name'] }}
        {% end %}
        </a>
      </li>

      <li class="user-miles logged-in sprite sprite-miles" style="display:none">
        <a href="#miles" class="overlay-changer">
          {% if state.get('user') %}
            {% module Thousands(state['user']['miles_total']) %} miles{% end %}</a>
      </li>

      <li class="user-coins logged-in sprite sprite-coins" style="display:none">
        <a href="#coins" class="overlay-changer">
        {% if state.get('user') %}{% module Thousands(state['user']['coins_total']) %} coins{% end %}</a>
      </li>

      <li class="user-awards logged-in sprite sprite-awards" style="display:none">
        <a href="#awards" class="overlay-changer {% if state.get('user') and state['user']['awards'].get('unread') %}unread{% end %}"
        {% if state.get('user') and state['user']['awards'].get('unread') %}title="{{ state['user']['awards']['unread'] }} unread"{% end %}>
        {% if state.get('user') %}Awards{% if state['user']['awards']['count'] %} ({{ state['user']['awards']['count'] }}){% end %}{% end %}</a>
      </li>

      <li class="user-name logged-in sprite sprite-settings" style="display:none">
        <a href="#settings" class="overlay-changer" title="Settings">{% if state['user'] %}
          {% if state['user']['anonymous'] %}
          Settings
          {% else %}
          {{ state['user']['name'] }}
          {% end %}
        {% end %}</a>
      </li>

      <li class="feedback logged-in sprite sprite-feedback" style="display:none">
        <a href="#feedback" class="overlay-changer" title="Give feedback">Feedback</a>
      </li>

      <li class="admin logged-in" style="display:none">
        <a href="/admin/" title="Because you deserve it!">Admin</a>
      </li>

      <li class="signout logged-in sprite sprite-signout" style="display:none">
        <a href="#signout" class="overlay-changer" title="Sign out">Sign out</a>
      </li>

      <li class="user-un-anonymous" style="display:none">
        <a href="#signin" class="overlay-changer login">Sign in to save your progress</a>
      </li>

      <li class="exit-mobile" style="display:none">
        <a href="/mobile/exit/">Switch to full web version</a>
      </li>

      <li class="user-login" style="display:none">
        <a href="#signin" class="overlay-changer login"><strong>Sign in</strong> to get going!</a>
      </li>

    </ul>
  </div>
