<div id="welcome" class="overlay">
  <h1>Welcome to {{ page_title }}!</h1>

  <!--[if lt IE 7]> {% include "_no-ie.html" %} <![endif]-->
  <!--[if IE 7]> {% include "_no-ie.html" %} <![endif]-->
  <!--[if IE 8]> {% include "_no-ie.html" %} <![endif]-->

  <div class="not-logged-in alternative"
    {% if state.get('user') %}style="display:none"{% end %}>
    <img class="image-left deferred" src="." data-src="{{ static_url('images/airplane-and-bag.png') }}" alt="Airplane">
    <a href="#login" class="overlay-changer"><img class="image-right deferred" src="." data-src="{{ static_url('images/passport.png') }}" alt="Passport"></a>
    <h3>A game where you try to reach every destination around the world.</h3>

    <p class="login">
      <a href="#welcome" class="login-shortcut">Get started straight away &gt;&gt;</a>
      <br>or<br>
      <a href="#login" class="overlay-changer">Sign in &gt;&gt;</a>
    </p>

    <p class="pending-invites" style="display:none">
      <strong>You've been invited!</strong>
      As soon as you sign in you will join
      <span class="names"></span> League of Friends!
    </p>

    <p class="loading" style="display:none">
      Hang on, logging you in anonymously...
    </p>
  </div>

  <div class="nomansland alternative" style="display:none">
    <h3>You start the tutorial in Nomansland.</h3>
    <ul>
      <li>Your goal is to fly around the world.</li>
      <li>To buy airplane tickets you need to work various jobs.</li>
      <li>Have fun! And good luck and enjoy your experience!</li>
    </ul>

    <p class="begin"><a href="#city" class="overlay-changer">First, go to the city &rarr;</a></p>

  </div>

  <div class="not-chosen-location alternative" style="display:none">
    <p>First thing you need to do is to choose a starting location</p>
    <form>
      <select name="id">
        <option value="">Chose start location:</option>

      </select>
    </form>
  </div>

  <div class="welcome-back alternative"
  {% if not state.get('user') %}style="display:none"{% end %}>
    <h3>Welcome back!</h3>

    <p>Your current location is <strong class="current-location"></strong>.<br>
    <a href="#city" class="overlay-changer">Go there now!</a>
    </p>

    <div class="stats" style="display:none">
    <h3>Some statistics about your progress so far</h3>
    <ul>
      <li class="totals">
        You currently have <strong class="total-coins"></strong> in the bank
        and you have travelled a total of <strong class="total-miles"></strong>
      </li>
      <li class="visited-cities">
        You have visited <strong class="visited"></strong> cities
        (out of a total of <strong class="visited-total"></strong>)
        <a href="#miles" class="overlay-changer">see them all</a>
      </li>
      <li class="earned">
        You have earned a total of <strong class="earned-total"></strong>
        (<strong class="earned-jobs"></strong> from doing jobs,
         <strong class="earned-questions"></strong> from <a href="#questionwriter" class="overlay-changer">writing questions</a>)
        <a href="#coins" class="overlay-changer">see them all</a>
      </li>
      <li class="answered">
        You have answered <strong class="answered-total"></strong> questions
        (of which <strong class="answered-right"></strong> you have gotten right)
      </li>
      <li class="authored">
        You have submitted <strong class="authored-submitted"></strong> questions
        and <strong class="authored-published"></strong> have been published
      </li>
      <li class="invitations">
        You have sent out <strong class="invitations-sent"></strong> invitations
        (of which <strong class="invitations-signedup"></strong> have signed up thanks to you)
      </li>
    </ul>
    </div>

  </div>


</div>
