<link href='http://fonts.googleapis.com/css?family=Parisienne|Alex+Brush|Redressed|UnifrakturCook:700|Tangerine|Fondamento|Vidaloka|Rochester|UnifrakturMaguntia' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Monsieur+La+Doulaise|Homemade+Apple' rel='stylesheet' type='text/css'>
<div id="diploma" class="overlay">
  <div class="wrapper-outer">
  <div class="wrapper">
    <h2>Award of Job Completed</h2>

<!--    <p>In recognition of the successful completion of the work as:</p> -->
    <p>In recognition of the satisfactory fullfilment of the requirements
    pertaining to the job as</p>

    <p class="category">Tour Guide
    <span class="in-location"> in </span>
    Tokyo, Japan
    </p>

    <p>Granted hereby to </p>

    <p class="name">Peter Bengtsson</p>
    

    <div class="footer">
    <p class="date">13 May 2012</p>
    <p class="signature">Peter Bengtsson</p>
    </div>


  </div>
  </div>


<p class="exit">
Ok. <a href="#city" class="overlay-changer">Go back to the city</a>
</p>

</div>
