<div id="quizzing" class="overlay" style="display:none">

  {% include "_loading.html" %}

  <div class="results" style="display:none">
    <h2>Job finished!
      <span class="exclamation"></span>
    </h2>
    <p class="short-summary">
      You collected
      <strong class="total-points"></strong> which earned you
      <strong class="coins"></strong><span class="total-coins-outer" style="display:none">
      (your total is now <strong class="total-coins"></strong>)</span>!
    </p>

    <div class="tutorial continue-tutorial-cantafford alert alert-info" style="display:none">
      <p><strong>Great progress! You're learning!</strong><br>
      However you don't have enough coins yet to go to the airport.<br>
      To earn more coins,
      <a href="#quizzing" class="overlay-changer restart"
         style="font-weight:bold">Start the job again</a>
      </p>
    </div>

    <div class="tutorial continue-tutorial-afford alert alert-success" style="display:none">
      <p>
      <strong>Excellent!</strong><br>
      You have now earned enough money to fly somewhere.<br>
      <a href="#city" class="overlay-changer"
         style="font-weight:bold">Go back to the city</a>
      </p>
    </div>

    <div class="award alert alert-success" style="display:none">
      <a href="" class="overlay-changer"><img class="deferred" src="." data-src="{{ static_url('images/gold-star.png') }}" alt="Gold star"></a>
      <h3>Well done!</h3>
      <p>
      You earned the <a href="" class="overlay-changer"><strong></strong> award</a>!
      </p>
    </div>

    <h3>Summary of your questions:</h3>
    <table class="table">
      <thead>
        <tr>
	  <td>&nbsp;</td>
	  <td>Question</td>
	  <td>Your answer</td>
	  <td>Correct answer</td>
	  <td>Time</td>
	  <td>Points</td>
	</tr>
      </thead>
      <tfoot>
        <tr>
          <td colspan="3">
            <strong>Wanna earn more coins?</strong>
            &nbsp;
            <a href="#city,jobs" class="overlay-changer">Pick another job</a>
            &nbsp;
            <a href="#quizzing" class="overlay-changer restart" title="Another round to earn more coins!">Start again!</a>
          </td>
	  <td colspan="2" style="text-align:right">Total:</td>
	  <td class="number points-total-total"></td>
	</tr>
      </tfoot>
      <tbody>
      </tbody>
    </table>

  </div>

  <div class="intro" style="display:none">
    <h2>About the job: <span class="quiz-name"></span></h2>
    <div class="intro-text">
    </div>
    <p class="begin"><a href="#">Ok! Let's begin! &rarr;</a></p>
  </div>

  <div class="play" style="display:none">

    <div class="timer-outer" style="display:none">
      <p>Time left:</p>
      <p class="timer"></p>
    </div>

    <h2>Quiz job as: <span class="quiz-name"></span></h2>

    <div class="points-total-outer">
      <p>Points:</p>
      <p class="points-total">0</p>
    </div>

    <div class="thumbnail-wrapper" style="display:none">
      <p class="loading">Loading picture...</p>
    </div>

    <input type="hidden" name="id">
    <p class="question">
      <strong>Question
      (<span class="no-questions"></span>):</strong>
    </p>

    <ol class="alternatives">
    </ol>

    <div class="question-attention tooslow" style="display:none">
      <p class="verdict">Sorry, too slow!</p>
      <p class="next-timer"><a href="#" class="next-question">Next question</a> in <span class="timer"></span> seconds...</p>
      <div class="rate"></div>
    </div>

    <div class="question-attention pleasewait" style="display:none">
      <p>Wait! Checking your answer...</p>
    </div>

    <div class="question-attention correct" style="display:none">
      <p class="verdict correct-message">Yay! That's right!!</p>
      <div class="didyouknow">
        <h3>Did you know...?</h3>
      </div>
      <p class="next-timer"><a href="#" class="next-question">Next question</a> in <span class="timer"></span> seconds...</p>
      <div class="rate"></div>
    </div>

    <div class="question-attention wrong" style="display:none">
      <p class="verdict">Wrong!<br>
         Correct answer was: <strong class="correct-answer"></strong></p>
      <div class="didyouknow">
        <h3>Did you know...?</h3>
      </div>
      <p class="next-timer"><a href="#" class="next-question">Next question</a> in <span class="timer"></span> seconds...</p>
      <div class="rate"></div>
    </div>

  </div>

  <p class="exit">
  <span class="pre-finish" style="display:none">I give up!</span>
  <span class="post-finish">Ok.</span>
  <a href="#city" class="overlay-changer">Go back to the city</a>
  </p>

  <div class="rating-images" style="display:none">
    <img src="." data-src="{{ static_url('lib/raty/img/face-a.png') }}" alt="a" class="face-a deferred">
    <img src="." data-src="{{ static_url('lib/raty/img/face-b.png') }}" alt="a" class="face-b deferred">
    <img src="." data-src="{{ static_url('lib/raty/img/face-c.png') }}" alt="a" class="face-c deferred">
    <img src="." data-src="{{ static_url('lib/raty/img/face-d.png') }}" alt="a" class="face-d deferred">
    <img src="." data-src="{{ static_url('lib/raty/img/face-a-off.png') }}" alt="a" class="face-a-off deferred">
    <img src="." data-src="{{ static_url('lib/raty/img/face-b-off.png') }}" alt="a" class="face-b-off deferred">
    <img src="." data-src="{{ static_url('lib/raty/img/face-c-off.png') }}" alt="a" class="face-c-off deferred">
    <img src="." data-src="{{ static_url('lib/raty/img/face-d-off.png') }}" alt="a" class="face-d-off deferred">
  </div>


</div>
