<div id="airport" class="overlay">
  <h2></h2>

  <p>
    <img src="{{ static_url('images/airportsign.png') }}" alt="Airport sign" class="airportpicture">
  </p>

  <p>
    Your choices depend on how much coins you have. You currently have
    <strong class="current-total"></strong>.
  </p>

  <table class="destinations">
  <thead>
    <tr>
      <td>Destination</td>
      <td>Distance</td>
      <td>Price</td>
    </tr>
  </thead>
  </table>


  <a href="#city" class="overlay-changer">Go back to the city</a>

</div>
