<div id="login" class="overlay">
  <h2>Sign in and registration</h2>


  <div class="left">
    <h3>Secure login</h3>

    <p>
    <a class="btn btn-large auth" href="/auth/google/">
      <img src="." data-src="{{ static_url('images/google-login-small.png') }}" class="deferred" alt="Sign in with Google">
      Sign in with Google
    </a>

    </p>

  </div>

  <div class="right">
    <h3>Or...</h3>

    <p>
    <a class="btn btn-large auth" href="/auth/anonymous/">
      <img src="." data-src="{{ static_url('images/anonymous.png') }}" class="deferred" alt="Play anonymously">
      Play anonymously
    </a>
    </p>

  </div>

  <div class="hint" style="display:none">
    <h3>Don't worry...</h3>
    <p>All the <strong>coins</strong> you have earned whilst playing anonymously
    <strong>will be transferred</strong> when you sign in properly.</p>
    <p class="small">But you can only do this once per account.</p>

  </div>


  <p class="other-note">Other forms of signing in is coming in a future version.</p>

</div>
