<!--<link href='http://fonts.googleapis.com/css?family=Parisienne|Alex+Brush|Redressed|UnifrakturCook:700|Fondamento|Vidaloka|Rochester' rel='stylesheet' type='text/css'>-->
<link href='http://fonts.googleapis.com/css?family=Monsieur+La+Doulaise|Tangerine|Homemade+Apple|UnifrakturMaguntia' rel='stylesheet' type='text/css'>
<div id="awards" class="overlay">
  <h2>Awards</h2>


  <div class="wrapper-outer" style="display:none">
  <div class="wrapper">
    <h2>Award of Job Completed</h2>

    <p>In recognition of the satisfactory fullfilment of the requirements
    pertaining to the job as</p>

    <p class="description"><span class="category">Tour Guide</span>
    <span class="in-location"> in </span>
    <span class="location">Tokyo, Japan</span>
    </p>

    <p>Granted hereby to </p>

    <p class="name"></p>


    <div class="footer">
    <p class="date"></p>
    <p class="signature"></p>
    </div>


  </div>
  </div>

  <div class="index">
    <div class="award">

    </div>
  </div>

  <img class="thumbnail-template deferred" style="display:none" src="." data-src="{{ static_url('images/diploma.png') }}" alt="thumbnail">

<p class="exit">
Ok. <a href="#city" class="overlay-changer">Go back to the city</a>
</p>

</div>
