<div id="coins" class="overlay" style="display:none">
  <img src="." data-src="{{ static_url('images/coins-image.png') }}" alt="Coins" class="overlay-image deferred">
  <h2>Coins</h2>

<p class="short-stats" style="display:none">
You currently have <strong></strong>. The only way to earn more coins is to
<a href="#city,jobs" class="overlay-changer">get a job</a> in the
<a href="#city" class="overlay-changer">city you're in</a>.
</p>

<ul class="nav nav-tabs">
  <li class="active"><a href="#tab-purchases" data-toggle="tab">Purchases</a></li>
  <li><a href="#tab-jobs" data-toggle="tab">Jobs you've had</a></li>
  <li><a href="#tab-earnings" data-toggle="tab">Earnings</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active purchases" id="tab-purchases">

    <div class="loading">loading...
    </div>

    <table class="table table-condensed" style="display:none">
      <thead>
        <tr>
          <td></td>
          <td>Description</td>
          <td>Price</td>
          <td>When</td>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td colspan="4" class="load-more"><a href="#">load more</a></td>
        </tr>
      </tfoot>
      <tbody>
      </tbody>
    </table>

  </div>

  <div class="tab-pane jobs" id="tab-jobs">
    <table class="table table-condensed">
      <thead>
        <tr>
          <td>Description</td>
          <td>Location</td>
          <td>Amount</td>
          <td>When</td>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>

  <div class="tab-pane earnings" id="tab-earnings">
    <table class="table table-condensed">
      <thead>
        <tr>
          <td>Type</td>
          <td>Description</td>
          <td>Amount</td>
          <td>When</td>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>

</div>



<p class="exit">
Ok. <a href="#city" class="overlay-changer">Go back to the city</a>
</p>

</div>
