<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<title>Around the world</title>
<link rel="stylesheet" type="text/css" href="{{ static_url('css/style.css') }}">
<script src="{{ static_url('lib/jquery-1.7.min.js') }}"></script>
<script src="{{ static_url('lib/jquery-ui-1.8.16-effects.min.js') }}"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
</head>
<body>
<div id="map_canvas"></div>
{% include "div.usernav.html" %}
{% include "div.quizzing.html" %}
{% include "div.settings.html" %}

<script type="text/javascript" src="{{ static_url('lib/underscore.js') }}"></script>
<script type="text/javascript" src="{{ static_url('lib/backbone.js') }}"></script>
<script type="text/javascript" src="{{ static_url('lib/soundplayer.js') }}"></script>
{% include "sounds.js.html %}
<script type="text/javascript" src="{{ static_url('places.js') }}"></script>
<script type="text/javascript" src="{{ static_url('map.js') }}"></script>
<script type="text/javascript" src="{{ static_url('airplane.js') }}"></script>
<script type="text/javascript" src="{{ static_url('flightpath.js') }}"></script>
<script type="text/javascript" src="{{ static_url('flightzoom.js') }}"></script>
<script type="text/javascript" src="{{ static_url('main.js') }}"></script>
{% if javascript_test_file %}
<script type="text/javascript" src="{{ static_url(javascript_test_file) }}"></script>
{% end %}
<!--<script type="text/javascript" src="{{ static_url('test-flightpath.js') }}"></script>-->
<!--<script type="text/javascript" src="{{ static_url('test-airplane.js') }}"></script>-->
<!--<script type="text/javascript" src="{{ static_url('test-flightzoom.js') }}"></script>-->

</body>
</html>
