<script>
var PLUGINS = {
  'login': ['{{ static_url('css/plugins/login.css') }}',
            '{{ static_url('plugins/login.js') }}'],
  'quizzing': ['{{ static_url('css/plugins/quizzing.css') }}',
               '{{ static_url('lib/jwerty.js') }}',
               '{{ static_url('plugins/quizzing.js') }}'],
  'picturedetective': ['{{ static_url('css/plugins/picturedetective.css') }}',
                       '{{ static_url('plugins/picturedetective.js') }}'],
  'settings': ['{{ static_url('css/plugins/settings.css') }}',
               '{{ static_url('plugins/settings.js') }}'],
  'miles': ['{{ static_url('plugins/miles.js') }}'],
  'coins': ['{{ static_url('css/plugins/coins.css') }}',
            '{{ static_url('lib/bootstrap-tab.js') }}',
            '{{ static_url('plugins/coins.js') }}'],
  'welcome': ['{{ static_url('plugins/welcome.js') }}'],
  'city': ['{{ static_url('css/plugins/city.css') }}',
           '{{ static_url('lib/bootstrap-carousel.js') }}',
           '{{ static_url('plugins/city.js') }}'],
  'airport': ['{{ static_url('css/plugins/airport.css') }}',
              '{{ static_url('plugins/airport.js') }}'],
  'signout': ['{{ static_url('plugins/signout.js') }}'],
  'flying': ['{{ static_url('flightzoom.js') }}',
             '{{ static_url('plugins/flying.js') }}'],
  'pinpoint': ['{{ static_url('css/plugins/pinpoint.css') }}',
               '{{ static_url('flightzoom.js') }}',
               '{{ static_url('plugins/pinpoint.js') }}'],
  'feedback': ['{{ static_url('plugins/feedback.js') }}'],
  'questionwriter': ['//api.filepicker.io/v0/filepicker.js',
                     '{{ static_url('lib/bootstrap-tab.js') }}',
                     '{{ static_url('plugins/questionwriter.js') }}']
};
</script>
