/* Some overrides from the bootstrap */
a:link { text-decoration: underline; }
li { color:rgb(64,64,64); }
a,
a:visited { color:rgb(60, 60, 60); }
/* end overrides from bootstrap */

html, body {
  height: 100%;
  /*margin: 0;
  padding: 0;
  font-family: sans-serif;*/
}

#map_canvas {
  height: 100%;
}

@media print {
  html, body {
    height: auto;
  }

  #map_canvas {
    height: 650px;
  }
}

#onerror {
  position: absolute;
  opacity:1.0;
  top: 0;
  left: 40%;
  width: 300px;
  background-color:#fff;
  z-index:3;
  color: red;
  text-align: center;
  padding: 10px;
  border-left:1px solid #333;
  border-right:1px solid #333;
  border-bottom:1px solid #333;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: 0 0 30px #999;

  }


#usernav {
  position:fixed;
  opacity:0.9;
  top:0;
  right:0;
  background-color:#fff;
  z-index:2;
  border-left:1px solid #999;
  border-bottom:1px solid #999;
  -webkit-border-bottom-left-radius: 6px;
     -moz-border-bottom-left-radius: 6px;
          border-bottom-left-radius: 6px;
  }
  #usernav ul {
    list-style:none;
    margin:2px;
    padding-left:2px;
  }
  #usernav li {
    display:inline;
    font-size:0.9em;
    margin-right:5px;

  }

  /* I generated these by using
    http://spritegen.website-performance.org/
    Next, time consider using
    http://glue.readthedocs.org/en/latest/index.html
   */
  #usernav .sprite {
    background: url(../images/sprite-20120603.png) no-repeat top left;
  }
  #usernav .sprite-feedback{
    background-position: 0 0; width: 16px; height: 16px;
  }
  #usernav .sprite-coins{
    background-position: 0 -66px; width: 16px; height: 16px;
  }
  #usernav .sprite-miles{
    background-position: 0 -132px; width: 16px; height: 16px;
  }
  #usernav .sprite-settings{
    background-position: 0 -198px; width: 16px; height: 16px;
  }
  #usernav .sprite-signout{
    background-position: 0 -264px; width: 16px; height: 16px;
  }

  #usernav .login {
    font-size:1.2em;
    padding:10px;
    margin:10px;
  }
  #usernav .user-name a {
    padding-left: 16px;
  }
  #usernav .user-location a {
    font-weight: bold;
  }
  #usernav .user-miles a {
    padding-left: 16px;
  }
  #usernav .user-coins a {
    padding-left: 17px;
  }
  #usernav .feedback a {
    padding-left: 17px;
  }
  #usernav .signout a {
    padding-left: 17px;
  }


.overlay {
  display:none;
  opacity: 0.95;
  position: absolute;
  right:10%;
  left:10%;
  top:10%;
  padding:10px;
  background-color:#fff;
  min-height: 300px;
  border-radius: 9px;
  box-shadow: 0 0 50px #ccc;
  border: 1px solid #666;
  }
  .overlay .exit {
    margin-top: 30px;
  }


.overlay-image {
  float: right;
  margin-right: 20px;
}

thead td {
  font-weight: bold;
}
