<div class="intro">
<p>Sweden, officially the Kingdom of Sweden (Swedish: Konungariket Sverige),
is a Nordic country on the
Scandinavian Peninsula in Northern Europe. Sweden borders with Norway
and Finland, and is connected to Denmark by a bridge-tunnel across the
Öresund.</p>

<p>At 450,295 square kilometres (173,860 sq mi), Sweden is the third
largest country in the European Union by area, with a total population
of about 9.4 million. Sweden has a low population density of 21
inhabitants per square kilometre (54 /sq mi) with the population
mostly concentrated to the southern half of the country. About 85% of
the population live in urban areas. Sweden's capital is Stockholm,
which is also the largest city.</p>

<p>Sweden emerged as an independent and unified country during the Middle
Ages. In the 17th century, the country expanded its territories to
form the Swedish Empire. The empire grew to be one of the great powers
of Europe in the 17th and early 18th century. Most of the conquered
territories outside the Scandinavian Peninsula were lost during the
18th and 19th centuries. The eastern half of Sweden, present-day
Finland, was lost to Russia in 1809. The last war in which Sweden was
directly involved was in 1814, when Sweden by military means forced
Norway into a personal union. Since then, Sweden has been at peace,
adopting a non-aligned foreign policy in peacetime and neutrality in
wartime.</p>

<p>Today, Sweden is a constitutional monarchy with a parliamentary
democracy of government and a highly developed economy. In 2010, it
ranked fourth in the world in The Economist's Democracy Index and
ninth in the United Nations' Human Development Index. In 2010, the
World Economic Forum ranked Sweden as the second most competitive
country in the world, after Switzerland. Sweden has the lowest
Gini coefficient of all countries (0.23) which makes Sweden the most
equal country on earth in terms of economic division. Sweden has been
a member of the European Union since 1 January 1995 and is a member of
the OECD.</p>

</div>
