{% extends "base.html" %}

{% block extrajs %}
<script>
$(function() {
  $('button[type="reset"]').click(function() {
    window.location = '../';
  });
  $('.error input', 'form').change(function() {
    $(this).parents('.error').removeClass('error');
  });
  $('#id_correct').change(function() {
    if ($(this).val() && !$('#alternatives_0').val()) {
      $('#alternatives_0').val($(this).val());
      $('#alternatives_1').focus();
    }
  });
});
</script>
{% end %}

{% block content %}

  <h2>Add category</h2>

  {% include "_show_form_errors.html" %}

  <form action="." method="post">{% module xsrf_form_html() %}
  {% include "_show_fieldset.html" %}
  </form>
{% end %}
