{% extends "base.html" %}

{% block extrahead %}
<style>
textarea { width:100%; }
#search-results {
  float:right;
  width:40%;
}
</style>
{% end %}

{% block extrajs %}
<script src="{{ static_url('admin/document.js') }}"></script>
<script>
$(function() {
  $('button[type="reset"]').click(function() {
    window.location = '../';
  });
  $('.error input', 'form').change(function() {
    $(this).parents('.error').removeClass('error');
  });
});
</script>
{% end %}

{% block content %}

  <h2>Add location</h2>
  {% include "_show_form_errors.html" %}

  <div id="search-results" style="display:none">
    <h3>Do you mean?</h3>
    <ul>
    </ul>
  </div>

  <form action="." method="post">{% module xsrf_form_html() %}
  {% include "_show_fieldset.html" %}
  </form>
{% end %}
