{% extends "base.html" %}

{% block extrajs %}
<script>
$(function() {
  $('[type="submit"]')
    .clone()
    .attr('name', 'addanother')
    .attr('value', 'addanother')
    .text('And add another')
    .insertAfter($('[type="submit"]').eq(0));
});
</script>
{% end %}

{% block content %}

  <h2>Add location picture</h2>

  {% include "_show_form_errors.html" %}
  <form action="." method="post" enctype="multipart/form-data" class="form-horizontal">{% module xsrf_form_html() %}
  {% include "_show_fieldset.html" %}
  </form>
{% end %}
