{% extends "base.html" %}

{% block extrajs %}
<script>
$(function() {
  $('button[type="reset"]').click(function() {
    window.location = '..';
  });
  $('.error input', 'form').change(function() {
    $(this).parents('.error').removeClass('error');
  });
  $('#id_correct').change(function() {
    if ($(this).val() && !$('#alternatives_0').val()) {
      $('#alternatives_0').val($(this).val());
      $('#alternatives_1').focus();
    }
  });
});
</script>
{% end %}

{% block content %}

  <h2>Add category</h2>

  {% if form.errors %}
    <ul class="errors general-errors">
        {% for field_name, field_errors in [(n,form.errors[n]) for n in form.errors if form.errors[n]] %}
            {% for error in field_errors %}
                <li>{{ form[field_name].label }} {{ error }}</li>
            {% end %}
        {% end %}
    </ul>
  {% end %}

  <form action="." method="post" class="form-horizontal">{% module xsrf_form_html() %}
  <fieldset>
  {% for field in form %}
    <div class="control-group {% if field.errors %}error{% end %}">
      {% raw field.label %}
      <div class="controls">
      {% module RenderField(field) %}
      {% if field.errors %}
         <span class="help-inline">{% for error in field.errors %}{{ error }}<br>{% end %}</span>
      {% end %}
      </div>
    </div>
  {% end %}
    <div class="actions">
      <input type="submit" value="Save changes" class="btn primary">
      <button class="btn" type="reset">Cancel</button>
    </div>
  </fieldset>

  </form>
{% end %}
