
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Admin</title>

    <link rel="stylesheet" href="{{ static_url('css/lib/bootstrap.min.css') }}">
    <!--<link rel="stylesheet" href="{{ static_url('css/admin/main.css') }}">-->
    <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>
    {% block extrahead %}
    {% end %}
  </head>

  <body>

<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
              <div class="container">
          <a class="brand" href="{{ reverse_url('admin_home') }}">Around The World Admin</a>
          <ul class="nav">
            <li {% if current_url == reverse_url('admin_home') %}class="active"{% end %}
              ><a href="{{ reverse_url('admin_home') }}">Home</a></li>

            <!-- questions -->
            <li class="dropdown{% if '/questions/' in current_url %} active{% end %}"
	        id="question-menu">
             <a class="dropdown-toggle" data-toggle="dropdown"
	         href="#question-menu">Questions <b class="caret"></b>
	     </a>
	     <ul class="dropdown-menu">
                <li><a href="{{ reverse_url('admin_questions') }}">All questions</a></li>
                <li><a href="{{ reverse_url('admin_add_question') }}">Add a new question</a></li>
                <li><a href="{{ reverse_url('admin_questions_numbers') }}">Number of questions</a></li>
                <li><a href="{{ reverse_url('admin_question_stats') }}">Question stats</a></li>
                <li><a href="{{ reverse_url('admin_questions_in_progress') }}">Questions in progress</a></li>
                <li class="divider"></li>
                <li><a href="{{ reverse_url('admin_categories') }}">All categories</a></li>
                <li><a href="{{ reverse_url('admin_add_category') }}">Add a new category</a></li>
                <li class="divider"></li>
                <li><a href="{{ reverse_url('admin_question_ratings') }}">Question ratings</a></li>
                <li><a href="{{ reverse_url('admin_question_ratings_highscore') }}">Ratings highscore</a></li>
                <li><a href="{{ reverse_url('admin_question_ratings_bias') }}">Ratings bias</a></li>
              </ul>
	    </li>

            <!-- Locations -->
            <li class="dropdown{% if '/locations/' in current_url %} active{% end %}">
              <a class="dropdown-toggle" data-toggle="dropdown"
  	         href="#location-menu">Locations <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="{{ reverse_url('admin_locations') }}">All locations</a></li>
                <li><a href="{{ reverse_url('admin_add_location') }}">Add a new location</a></li>
                <li class="divider"></li>
                <li><a href="{{ reverse_url('admin_location_pictures') }}">Location pictures</a></li>
                <li><a href="{{ reverse_url('admin_add_location_picture') }}">Add a new location picture</a></li>
              </ul>
            </li>

            {% if is_superuser or is_ambassador %}
            <li {% if '/documents/' in current_url %}class="active"{% end %}
              ><a href="{{ reverse_url('admin_documents') }}">Documents</a></li>
            {% end %}
            {% if is_superuser %}
	    <li class="dropdown">

             <a class="dropdown-toggle" data-toggle="dropdown"
	         href="#other-menu">Other <b class="caret"></b>
	     </a>
	     <ul class="dropdown-menu">
                <li {% if '/users/' in current_url %}class="active"{% end %}
                  ><a href="{{ reverse_url('admin_users') }}">Users</a></li>
                <li {% if '/feedback/' in current_url %}class="active"{% end %}
                  ><a href="{{ reverse_url('admin_feedbacks') }}">Feedback</a></li>
                <li {% if '/jobs/' in current_url %}class="active"{% end %}
                  ><a href="{{ reverse_url('admin_jobs') }}">Jobs</a></li>
                <li {% if '/errors/' in current_url %}class="active"{% end %}
                  ><a href="{{ reverse_url('admin_errors') }}">Errors</a></li>
	     </ul>
            {% end %}
            <li><a href="/">Exit Admin</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      {% block container %}

         {% for message in messages %}
         <div class="alert alert-{{ message['type'] }}">
           <a class="close" href="#">&times;</a>
           <strong>{{ message['title'] }}</strong>
           {{ message['text'] }}
         </div>
         {% end %}

      {% block content %}
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Hello, world!</h1>
        <p>Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
        <p><a class="btn primary large">Learn more &raquo;</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span6">
          <h2>Heading</h2>
          <p>Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
        <div class="span5">
          <h2>Heading</h2>
           <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
       </div>
        <div class="span5">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
      </div>
      {% end %}

      <footer>
        <p>&copy; You, 2012</p>
      </footer>
    {% end %}
    </div> <!-- /container -->

<div id="picture-modal" class="modal fade">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Picture preview</h3>
  </div>
  <div class="modal-body" style="text-align:center">
    <img>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn">Close</a>
  </div>
</div>


  <script src="{{ static_url('lib/jquery-1.7.2.min.js') }}"></script>
  <script src="{{ static_url('lib/bootstrap-dropdown.js') }}"></script>
  <script src="{{ static_url('lib/bootstrap-modal.js') }}"></script>
  <script src="{{ static_url('lib/bootstrap-tooltip.js') }}"></script>
  <script src="{{ static_url('lib/jwerty.js') }}"></script>
  <script src="{{ static_url('admin-base.js') }}"></script>
  {% block extrajs %}{% end %}
  </body>
</html>
