{% extends "base.html" %}

{% block content %}
  <h2>All categories</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Category</th>
        {% for location in locations %}
        <th><a href="{{ reverse_url('admin_location', location['_id']) }}" rel="tooltip" title="{{ location }}">{{ location['code'] }}</a></th>
        {% end %}
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th>Total:</th>
	{% for location in locations %}
        <td><a href="{{ reverse_url('admin_questions') }}?locations={{ location['code'] }}">{{ location_counts[location['code']] }}</td>
	{% end %}
      </tr>
    </tfoot>
    <tbody>
      {% for category in categories %}
      <tr>
        <td>{{ category['name'] }}</td>
        {% for location in locations %}
        <td><a href="{{ reverse_url('admin_questions') }}?locations={{ location['code'] }}&amp;categories={{ category['name'].replace(' ', '+') }}">{{ counts[category['name']].get(location['code'], 0) }}</td>
        {% end %}
      </tr>
      {% end %}
    </tbody>
  </table>

{% end %}
