{% extends "base.html" %}

{% block extrahead %}
<style>
textarea { width:100%; }
textarea[name="source"] { height:400px; }
</style>
{% end %}

{% block extrajs %}
<script src="{{ static_url('lib/ace/ace.js') }}" type="text/javascript" charset="utf-8"></script>
{% if document['source_format'] == 'html' %}
<script src="{{ static_url('lib/ace/mode-html.js') }}" type="text/javascript" charset="utf-8"></script>
{% end %}
{% if document['source_format'] == 'markdown' %}
<script src="{{ static_url('lib/ace/mode-markdown.js') }}" type="text/javascript" charset="utf-8"></script>
{% end %}
<script>
$(function() {
  var t = $('textarea[name="source"]');
  var c = t.parents('div.control-group');
  c.hide();
  $('#editor').text(t.val());

  // https://github.com/ajaxorg/ace/wiki/Embedding---API
  var editor = ace.edit("editor");

  {% if document['source_format'] == 'html' %}
    var mode = require("ace/mode/html").Mode;
  {% end %}

  {% if document['source_format'] == 'markdown' %}
    var mode = require("ace/mode/markdown").Mode;
  {% end %}
  editor.getSession().setMode(new mode());

  $('form[method="post"]').submit(function() {
    $('#source').val(editor.getSession().getValue());
  });
});
</script>
{% end %}

{% block content %}

  <h2>Edit document</h2>
  <h3>
    {% if location %}
    Location: {{ location }}
    {% end %}
    {% if user %}
    User: {{ user }}
    {% end %}
  </h3>

  {% include "_show_form_errors.html" %}

  <form action="." method="post">{% module xsrf_form_html() %}
  <div id="editor" style="position:relative;height: 450px; width: 100%">
  </div>
  {% include "_show_fieldset.html" %}

  </form>
{% end %}
