{% extends "base.html" %}

{% block extrahead %}
<style>
.question-statuses-country { width: 85%; }
.question-statuses-country .category { margin-left:60px; }
.question-statuses-country .number { float:right; }
</style>
{% end %}

{% block extrajs %}
<script>
$(function() {
  $.getJSON('/admin/news.json', function(response) {
    var container = $('#latest-news');
    $('.loading', container).hide();
    $.each(response.items, function(i, each) {
      var c = $('<tr>');
      $('<td>')
        .append($('<a>').attr('href', each.url).html(each.summary))
        .appendTo(c);
      $('<td>')
        .text(each.date + ' ago')
        .appendTo(c);
      c.appendTo($('table'));
    });
    $('table', container).show();
  });
});
</script>
{% end %}

{% block content %}
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h2>Admin Home</h2>
        <dl class="dl-horizontal">
          <dt>Users:</dt>
          <dd><strong>{{ count_users - count_users_anonymous }} registered
              + {{ count_users_anonymous }} anonymous
              = {{ count_users }} users in total
              </strong></dd>
          <dd>latest anonymous user joined {% module TimeSince(latest_anonymous_user['add_date']) %} ago,
          signed in {% module TimeSince(latest_user['add_date']) %} ago</dd>

          <dt>Jobs:</dt>
          <dd><strong>
          {{ count_jobs - count_jobs_tutorial }} non-tutorial jobs
          + {{ count_jobs_tutorial }} tutorial jobs
          = {{ count_jobs }} jobs completed in total
          </strong></dd>

          <dt>Miles:</dt>
          <dd><strong>{% module Thousands(total_miles) %} miles</strong> flown in total</dd>

          <dt>Coins:</dt>
          <dd><strong>{% module Thousands(total_coins) %} coins</strong> earned in total</dd>

          <dt>Questions:</dt>
          <dd><strong>
          {% module Thousands(count_questions_published) %} published
          + {% module Thousands(count_questions_not_published) %} not published
          = {% module Thousands(count_questions_published + count_questions_not_published) %} questions in total
          </strong></dd>

        </dl>

      </div>

      <div id="latest-news">
      <h2>Latest News</h2>
      <p class="loading">Loading latest news...</p>
      <table class="table" style="display:none">
        <tbody>
        </tbody>
      </table>
      </div>

{% end %}
