{% extends "base.html" %}

{% block extrajs %}
<script>
$(function() {

  if ($('.thumbnail-preview-wrapper').size()) {
    $('.thumbnail-preview-wrapper').detach().insertBefore($('input[type="file"]'));
  }
  if ($('a.thumbnail-preview').size()) {
    $('#title').change(function() {
      $('a.thumbnail-preview').data('question', $(this).val());
    });
  }
});
</script>
{% end %}

{% block content %}

  <h2>Edit location picture</h2>

  {% include "_show_form_errors.html" %}

  <form action="." enctype="multipart/form-data" class="form-horizontal" method="post">{% module xsrf_form_html() %}
  {% include "_show_fieldset.html" %}
  </form>

    <p class="thumbnail-preview-wrapper">
        <a title="Existing picture" class="thumbnail-preview"
           data-toggle="modal" data-title="{{ location_picture['title'] }}"
           href="{% module GetPictureThumbnailSrc(location_picture, (300,300)) %}"
           >{% module ShowPictureThumbnail(location_picture, (20, 20)) %}</a>
        &larr; existing picture
    </p>


{% end %}
