{% extends "base.html" %}

{% block extrahead %}
<style>
tfoot th input[name="q_city"],
tfoot th input[name="q_locality"] { width:120px; }
tfoot th select[name="countries"] { width:150px; }
</style>
{% end %}

{% block content %}
  <h2>{{ count }} locations {% if filtering %}found{% end %}</h2>
  {% if filtering %}
  <p><a href=".">Reset filtering</a></p>
  {% end %}

  <p><a href="{{ reverse_url('admin_add_location') }}">Add a new location</a></p>

  <form action=".">
      <table class="condensed-table">
        <thead>
          <tr>
            <th>City</th>
            <th>Country</th>
            <th>Locality</th>
            <th>Code</th>
            <th>Airport</th>
            <th>Added</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th><input name="q_city" value="{{ q_city }}" placeholder="Search..."></th>
            <th>
              <select multiple name="countries">
                {% for country in all_countries %}
                <option value="{{ country }}"
                  {% if country in countries %}selected{% end %}
                >{{ country }}</option>
                {% end %}
              </select>
            </th>
            <th><input name="q_locality" value="{{ q_locality }}" placeholder="Search..."></th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>
              <input type="submit" value="Filter">
            </th>
          </tr>
        </tfoot>
        <tbody>
          {% for location in locations %}
          <tr>
            <td>
              <a href="{{ reverse_url('admin_location', location['_id']) }}">{{ location['city'] }}</a>
            </td>
            <td>{{ location['country'] }}</td>
            <td>{{ location['locality'] or '-' }}</td>
            <td>{{ location['code'] or '-' }}</td>
            <td>{{ location['airport_name'] or '-' }}</td>
            <td>{{ location['add_date'].strftime('%d %b %Y') }}</td>
          </tr>
          {% end %}
        </tbody>
      </table>
      <div class="pagination">
        <ul>
          <li class="prev{% if page - 1 <= 0 %} disabled{% end %}"><a href="?page={{ page - 1 }}&amp;{{ query_string }}">&larr; Previous</a></li>
          {% for p in all_pages %}
          <li {% if p == page %}class="active"{% end %}><a href="?page={{ p }}&amp;{{ query_string }}">{{ p }}</a></li>
          {% end %}
          <li class="next {% if page + 1 > all_pages[-1] %}disabled{% end %}"><a href="?page={{ page + 1 }}&amp;{{ query_string }}">Next &rarr;</a></li>
        </ul>
      </div>
    </form>
{% end %}
