{% extends "base.html" %}

{% block extrahead %}
<style>
tfoot th select[name="locations"] { width:70px; }
tfoot th select[name="authors"] { width:100px; }
</style>
{% end %}

{% block content %}
  <h2>{{ count }} location pictures {% if filtering %}found{% end %}</h2>
  {% if filtering %}
  <p><a href=".">Reset filtering</a></p>
  {% end %}


  <form action=".">
      <table class="condensed-table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Index</th>
            <th>Location</th>
            <th>Picture</th>
            <th>Author</th>
            <th>Added</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th><input name="q" value="{{ q }}" placeholder="Title search..."></th>
            <th>
              &nbsp;
            </th>
            <th>
              <select multiple name="locations">
                {% for location in all_locations %}
                <option value="{{ location['code'] }}"
                  {% if location['code'] in locations %}selected{% end %}
                >{{ location['code'] }}<!-- ({{ location['country'] }})--></option>
                {% end %}
              </select>
            </th>
            <th>
              &nbsp;
            </th>
            <th>
              <select multiple name="authors">
                {% for user in all_authors %}
                <option value="{{ user['_id'] }}"
                 {% if user['_id'] in authors %}selected{% end %}
                 >{% if user['username'] %}
                   {{ user['username'] }}
                 {% else %}
                   {{ user['email'] }}
                 {% end %}</option>
                {% end %}
              </select>
            </th>
            <th>
              <input type="submit" value="Filter">
            </th>
          </tr>
        </tfoot>
        <tbody>
          {% for picture, location, author in pictures %}
          <tr>
            <td>
              <a href="{{ reverse_url('admin_location_picture', picture['_id']) }}">{% module Truncate(picture['title'], 60) %}</a>
              {% if not picture['published'] %}
                <span class="label warning">Not published</span>
              {% end %}
            </td>
            <td>{{ picture['index'] }}</td>
            <td><abbr title="{{ location }}">{{ location['code'] }}</abbr></td>
            <td>
            <a title="{{ picture['title'] }}" class="thumbnail-preview"
               data-toggle="modal" data-title="{{ picture['title'] }}"
               href="{% module GetPictureThumbnailSrc(picture, (300,300)) %}"
               >{% module ShowPictureThumbnail(picture, (20, 20)) %}</a>
            </td>
            <td>
              {% if author %}
                {% if author['username'] %}
                  {{ author['username'] }}
                {% else %}
                  {{ author['email'] }}
                {% end %}
              {% else %}
                &nbsp;
              {% end %}
            </td>
            <td>{{ picture['add_date'].strftime('%d %b %Y') }}</td>
          </tr>
          {% end %}
        </tbody>
      </table>

      {% include "_pagination.html" %}
    </form>


{% end %}
