{% extends "base.html" %}

{% block extrahead %}
<style>
tfoot th input[name="q_city"],
tfoot th input[name="q_locality"] { width:120px; }
tfoot th select[name="available"] { width:50px; }
tfoot th select[name="countries"] { width:150px; }
</style>
{% end %}

{% block content %}
  <h2>{{ count }} locations {% if filtering %}found{% end %}</h2>
  {% if filtering %}
  <p><a href=".">Reset filtering</a></p>
  {% end %}

  <p><a href="{{ reverse_url('admin_add_location') }}">Add a new location</a></p>

  <form action=".">
      <table class="table condensed-table">
        <thead>
          <tr>
            <th>City</th>
            <th>Country</th>
            <th>Locality</th>
            <th>Available</th>
            <th>Locked</th>
            <th>Code</th>
            <!--<th>Airport</th>-->
            <th>Added</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th><input name="q_city" value="{{ q_city }}" placeholder="Search..."></th>
            <th>
              <select multiple name="countries">
                {% for country in all_countries %}
                <option value="{{ country }}"
                  {% if country in countries %}selected{% end %}
                >{{ country }}</option>
                {% end %}
              </select>
            </th>
            <th><input name="q_locality" value="{{ q_locality }}" placeholder="Search..."></th>
            <th><select name="available">
              <option value="">--</option>
              <option value="yes" {% if available == 'yes' %}selected{% end %}>yes</option>
              <option value="no" {% if available == 'no' %}selected{% end %}>no</option>
            </select>
            </th>
            <th><select name="locked">
              <option value="">--</option>
              <option value="yes" {% if locked == 'yes' %}selected{% end %}>yes</option>
              <option value="no" {% if locked == 'no' %}selected{% end %}>no</option>
            </select>
            </th>
            <!--<th>&nbsp;</th>-->
            <th>&nbsp;</th>
            <th>
              <input type="submit" value="Filter">
            </th>
          </tr>
        </tfoot>
        <tbody>
          {% for location in locations %}
          <tr>
            <td>
              <a href="{{ reverse_url('admin_location', location['_id']) }}">{{ location['city'] }}</a>
            </td>
            <td>{{ location['country'] }}</td>
            <td>{{ location['locality'] or '-' }}</td>
            <td>{% if location.get('available') %}
            <img src="{{ static_url('images/check-small.png') }}" title="You can fly to this destination" alt="You can fly to this destination">
            {% else %}-
            {% end %}
            </td>
            <td>{% if location.get('locked') %}
            <img src="{{ static_url('images/locked.gif') }}" title="Locked till user signs in">
            {% else %}-
            {% end %}
            </td>
            <td>{{ location['code'] or '-' }}</td>
            <!--<td>{{ location['airport_name'] or '-' }}</td>-->
            <td>{% module TimeAgo(location['add_date']) %}</td>
          </tr>
          {% end %}
        </tbody>
      </table>
      {% include "_pagination.html" %}
    </form>
{% end %}
