{% extends "base.html" %}

{% block extrajs %}
<script>
$(function() {

  if ($('.thumbnail-preview-wrapper').size()) {
    $('.thumbnail-preview-wrapper').detach().insertBefore($('input[type="file"]'));
  }
  if ($('a.thumbnail-preview').size()) {
    $('#id_text').change(function() {
      $('a.thumbnail-preview').data('question', $(this).val());
    });
  }
});
</script>
{% end %}

{% block content %}

  <h2>Edit question</h2>

  {% include "_show_form_errors.html" %}
  <form class="form-horizontal" enctype="multipart/form-data" action="." method="post">{% module xsrf_form_html() %}
  {% include "_show_fieldset.html" %}
  </form>

  {% if can_delete %}
  <form action="delete" method="post">{% module xsrf_form_html() %}
    <p>Because the question hasn't been used yet you can delete this question.</p>
    <button type="submit" class="btn btn-danger">Delete question</button>
  </form>
  {% end %}

  {% if rating_total %}
  <h3>Ratings</h3>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Ratings</th>
        <th>All</th>
        <th>Right</th>
        <th>Wrong</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Average:</td>
        <td>{{ '%.1f' % rating_total['average']['all'] }}</td>
        <td>{% if rating_total['average']['right'] %}
  	  {{ '%.1f' % rating_total['average']['right'] }}
	  {% else %}
	  --
	  {% end %}
	</td>
        <td>{% if rating_total['average']['wrong'] %}
          {{ '%.1f' % rating_total['average']['wrong'] }}
          {% else %}
          --
          {% end %}
        </td>
      </tr>
      <tr>
        <td>Count:</td>
        <td>{{ rating_total['count']['all'] }}</td>
        <td>{{ rating_total['count']['right'] }}</td>
        <td>{{ rating_total['count']['wrong'] }}</td>
      </tr>
    </tbody>
  </table>
  {% end %}

  {% if answer_stats %}
  <h3>Answer stats</h3>
  <table class="table table-condensed">
    <tbody>
      <tr>
        <td>Unique # answers:</td>
        <td>{{ answer_stats['unique_count'] }}</td>
      </tr>
      <tr>
        <td># users getting it <strong>Right</strong>:</td>
        <td>{{ answer_stats['rights'] }}
          {% if answer_stats['rights'] %}
          ({{ '%.1f' % answer_stats['rights_percentage'] }}%)
          {% end %}
        </td>
      </tr>
      <tr>
        <td># users getting it <strong>Wrong</strong>:</td>
        <td>{{ answer_stats['wrongs'] }}
          {% if answer_stats['wrongs'] %}
          ({{ '%.1f' % answer_stats['wrongs_percentage'] }}%)
          {% end %}
        </td>
      </tr>
      <tr>
        <td># users <strong>Timed out</strong>:</td>
        <td>{{ answer_stats['unique_count_timedout'] }}</td>
      </tr>
      <tr>
        <td>Average time to answer <strong>Right</strong>:</td>
        <td>
          {% if answer_stats['times'].get('right') %}
          {{ '%.2f' % answer_stats['times']['right'] }} seconds
          {% else %}
          --
          {% end %}
        </td>
      </tr>
      <tr>
        <td>Average time to answer <strong>Wrong</strong>:</td>
        <td>
          {% if answer_stats['times'].get('wrong') %}
          {{ '%.2f' % answer_stats['times']['wrong'] }} seconds
          {% else %}
          --
          {% end %}
        </td>
      </tr>
    </tbody>
  </table>
  {% end %}

  {% if question.has_picture() %}
    <p class="thumbnail-preview-wrapper">
        <a title="Question has an picture" class="thumbnail-preview"
           data-toggle="modal" data-title="{{ question['text'] }}"
           href="{% module GetPictureThumbnailSrc(question.get_picture(), (300,300)) %}"
           >{% module ShowPictureThumbnail(question.get_picture(), (20, 20)) %}</a>
        &larr; existing picture <a href="{{ reverse_url('admin_question_pictures', question['_id']) }}">+</a>
    </p>
  {% end %}

{% end %}
