{% extends "base.html" %}

{% block extrajs %}
<script>
$(function() {
  $('button[type="reset"]').click(function() {
    window.location = '../';
  });
  $('.error input', 'form').change(function() {
    $(this).parents('.error').removeClass('error');
  });
});
</script>
{% end %}

{% block content %}

  <h2>Edit question</h2>

  {% include "_show_form_errors.html" %}
  <form class="form-horizontal" action="." method="post">{% module xsrf_form_html() %}
  {% include "_show_fieldset.html" %}
  </form>
{% end %}
