{% extends "base.html" %}

{% block extrahead %}
<style>
tfoot th select[name="authors"] { width:100px; }
</style>
{% end %}

{% block content %}
  <h2>{{ count }} totals {% if filtering %}found{% end %}</h2>
  {% if filtering %}
  <p><a href=".">Reset filtering</a></p>
  {% end %}


  <form action=".">
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Question</th>
            <th>&nbsp;</th>
            <th>Average
              {% module SortArrow('average.all', sort_key, sort_order) %}
            </th>
            <th>Count
              {% module SortArrow('count.all', sort_key, sort_order) %}
              </th>
          </tr>
        </thead>
        <tbody>
          {% for total, question in totals %}
          <tr>
            <td>
              <a href="{{ reverse_url('admin_question', question['_id']) }}">{% module Truncate(question['text'], 60) %}</a>
            </td>
            <td>
            {% if question.has_picture() %}
            <a title="Question has an picture" class="thumbnail-preview"
               data-toggle="modal" data-title="{{ question['text'] }}"
               href="{% module GetPictureThumbnailSrc(question.get_picture(), (300,300)) %}"
               >{% module ShowPictureThumbnail(question.get_picture(), (20, 20)) %}</a>
               {% if question.has_many_pictures() %}
               <a href="{{ reverse_url('admin_question_pictures', question['_id']) }}" title="Has many pictures">+</a>
               {% end %}
            {% else %}
             -
            {% end %}
            </td>
            <td>
              {{ '%.1f' % total['average']['all'] }}
            </td>
            <td>
              {{ total['count']['all'] }}
            </td>
          </tr>
          {% end %}
        </tbody>
      </table>
      {% include "_pagination.html" %}
    </form>


{% end %}
