{% extends "base.html" %}

{% block extrahead %}
<style>
tfoot th select[name="authors"] { width:100px; }
</style>
{% end %}

{% block content %}
  <h2>{{ count }} ratings {% if filtering %}found{% end %}</h2>
  {% if filtering %}
  <p><a href=".">Reset filtering</a></p>
  {% end %}


  <form action=".">
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Question</th>
            <th>Score</th>
            <th>Correct</th>
            <th>User</th>
            <th>Added</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>&nbsp;</th>
            <th>
              &nbsp;
            </th>
            <th>
              &nbsp;
            </th>
            <th>
              &nbsp;
            </th>
            <th>
              <input type="submit" value="Filter">
            </th>
          </tr>
        </tfoot>
        <tbody>
          {% for rating, question, user, rating_total in ratings %}
          <tr>
            <td>
              <a href="{{ reverse_url('admin_question', question['_id']) }}">{% module Truncate(question['text'], 60) %}</a>
              <span class="badge">{{ '%.1f'%rating_total.average.all }}</span>
            </td>
            <td>
              {{ rating['score'] }}
            </td>
            <td>
              {% if rating['correct'] %}
              <span class="label label-success">Right</span>
              {% else %}
              <span class="label">Wrong</span>
              {% end %}
            </td>
            <td>
            <a href="{{ reverse_url('admin_user', user['_id']) }}">
                {% if user['username'] %}
                  {{ user['username'] }}
                {% else %}
                  {{ user['email'] }}
                {% end %}</a>
            </td>
            <td>{% module TimeAgo(rating['add_date']) %}</td>
          </tr>
          {% end %}
        </tbody>
      </table>
      {% include "_pagination.html" %}
    </form>


{% end %}
