{% extends "base.html" %}

{% block extrajs %}
<script>
$(function() {

  if ($('.thumbnail-preview-wrapper').size()) {
    $('.thumbnail-preview-wrapper').detach().insertBefore($('input[type="file"]'));
  }
  if ($('a.thumbnail-preview').size()) {
    $('#id_text').change(function() {
      $('a.thumbnail-preview').data('question', $(this).val());
    });
  }
});
</script>
{% end %}

{% block content %}

  <h2>Edit question</h2>

  {% include "_show_form_errors.html" %}
  <form class="form-horizontal" enctype="multipart/form-data" action="." method="post">{% module xsrf_form_html() %}
  {% include "_show_fieldset.html" %}
  </form>

  {% if can_delete %}
  <form action="delete" method="post">{% module xsrf_form_html() %}
    <p>Because the question hasn't been used yet you can delete this question.</p>
    <button type="submit" class="btn btn-danger">Delete question</button>
  </form>
  {% end %}

  {% if rating_total %}
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Ratings</th>
        <th>All</th>
        <th>Right</th>
        <th>Wrong</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Average:</td>
        <td>{{ '%.1f' % rating_total['average']['all'] }}</td>
        <td>{{ '%.1f' % rating_total['average']['right'] }}</td>
        <td>{{ '%.1f' % rating_total['average']['wrong'] }}</td>
      </tr>
      <tr>
        <td>Count:</td>
        <td>{{ rating_total['count']['all'] }}</td>
        <td>{{ rating_total['count']['right'] }}</td>
        <td>{{ rating_total['count']['wrong'] }}</td>
      </tr>
    </tbody>
  </table>
  {% end %}

  {% if question.has_picture() %}
    <p class="thumbnail-preview-wrapper">
        <a title="Question has an picture" class="thumbnail-preview"
           data-toggle="modal" data-title="{{ question['text'] }}"
           href="{% module GetPictureThumbnailSrc(question.get_picture(), (300,300)) %}"
           >{% module ShowPictureThumbnail(question.get_picture(), (20, 20)) %}</a>
        &larr; existing picture <a href="{{ reverse_url('admin_question_pictures', question['_id']) }}">+</a>
    </p>
  {% end %}

{% end %}
