{% extends "base.html" %}

{% block extrahead %}
<style>
tfoot th select[name="authors"] { width:100px; }
</style>
{% end %}

{% block extrajs %}
<script src="{{ static_url('admin/question-stats.js') }}"></script>
{% end %}


{% block content %}
  {% if not filtering %}
  {% if no_questions > count %}
  <form action="." method="post" style="float:right">
    <p>{{ no_questions - count }} questions not accounted for.</p>
    <button type="submit">Re-generate remaining stats</button>
  </form>
  {% end %}
  {% end %}

  <h2>{{ count }} gathered stats {% if filtering %}found{% end %}</h2>
  {% if filtering %}
  <p><a href=".">Reset filtering</a></p>
  {% end %}


  <form action=".">
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Question</th>
            <th><abbr title="Points Value (1 - 5)">PV</abbr></th>
            <th>&nbsp;</th>
            <th><abbr title="Number of Unique answers">#Answers</abbr>
              {% module SortArrow('unique_count', sort_key, sort_order) %}
            </th>
            <th>Timed out
              {% module SortArrow('unique_count_timedout', sort_key, sort_order) %}
            </th>
            <th>Rights
              {% module SortArrow('rights', sort_key, sort_order) %}
            </th>
            <th>Wrongs
              {% module SortArrow('wrongs', sort_key, sort_order) %}
            </th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        {% if 0 %}
        <tfoot>
          <tr>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>
              &nbsp;
            </th>
            <th>
              &nbsp;
            </th>
            <th>
              &nbsp;
            </th>
            <th>
              <input type="submit" value="Filter">
            </th>
          </tr>
        </tfoot>
        {% end %}
        <tbody>
          {% for stats, question, verdict in statss %}
          <tr>
            <td>
              <a href="{{ reverse_url('admin_question', question['_id']) }}">{% module Truncate(question['text'], 60) %}</a>
            </td>
            <td data-id="{{ question['_id'] }}">
              <span>{{ question['points_value'] }}</span>
              <a href="#" class="increase-points-value" title="Increase the PV by 1">+</a>
              <a href="#" class="decrease-points-value" title="Decrease the PV by 1">-</a>
            </td>
            <td>
            {% if question.has_picture() %}
            <a title="Question has an picture" class="thumbnail-preview"
               data-toggle="modal" data-title="{{ question['text'] }}"
               href="{% module GetPictureThumbnailSrc(question.get_picture(), (300,300)) %}"
               >{% module ShowPictureThumbnail(question.get_picture(), (20, 20)) %}</a>
               {% if question.has_many_pictures() %}
               <a href="{{ reverse_url('admin_question_pictures', question['_id']) }}" title="Has many pictures">+</a>
               {% end %}
            {% else %}
             -
            {% end %}
            </td>
            <td>
              {{ stats['unique_count'] }}
            </td>
            <td>
              {{ stats['unique_count_timedout'] }}
            </td>
            <td>
              {{ stats['rights'] }}
              {% if stats['rights_percentage'] is not None %}
              ({{ '%.1f' % stats['rights_percentage'] }}%)
              {% end %}
            </td>
            <td>
              {{ stats['wrongs'] }}
              {% if stats['wrongs_percentage'] is not None %}
              ({{ '%.1f' % stats['wrongs_percentage'] }}%)
              {% end %}
            </td>
            <td>
              {% if verdict %}
              <span class="label label-{{ verdict[1] }}">{{ verdict[0] }}</span>
              {% else %}
              n/a
              {% end %}
            </td>
          </tr>
          {% end %}
        </tbody>
      </table>
      {% include "_pagination.html" %}
    </form>


{% end %}
