{% extends "base.html" %}

{% block extrahead %}
<style>
tfoot th select[name="locations"] { width:70px; }
tfoot th select[name="authors"] { width:100px; }
#play {
    float: right;
}
</style>
{% end %}

{% block extrajs %}
<script>
function play() {
  var container = $('#play');
  var pictures = $('a.thumbnail-preview');
  var iters = 0;
  pictures.each(function() {
    $('img', this).addClass('iter-' + iters);
    iters++;
  });

  $(':hidden', container).show();
  $('.seconds', container).text(iters - 1);
  var count_down = iters - 1;

  function recurse() {
    $('.seconds', container).text(count_down);
    $('img', container).remove();
    $('img.iter-' + count_down).clone().appendTo(container).addClass('thumbnail');
    if (count_down) {
      setTimeout(recurse, 1000);
    }
    count_down--;
  }
  recurse();

}

$(function() {
  $('input[name="all"]').click(function() {
    var self = this;
    $('input[type="checkbox"]').each(function() {
      if ($(this).attr('name') == 'ids') {
        if ($(this).data('index') != '0') {
          this.checked = self.checked;
        }
      }
    });
  });

  $('#play a').click(function() {
    play();
    return false;
  });
});
</script>
{% end %}


{% block content %}
  <p style="float:right"><a href="..">Back to question</a></p>

  <h2>{{ count }} pictures {% if filtering %}found{% end %}</h2>
  {% if filtering %}
  <p><a href=".">Reset filtering</a></p>
  {% end %}

  {% if count > 4 %}
  <div id="play">
    <p><a href="#play">Play!</a></p>
    <p style="display:none">Time left: <strong class="seconds"></strong></p>
  </div>
  {% end %}

  <!--
  <form action="." method="post" class="form-inline">
      <button type="submit" name="delete" class="btn">Delete all but the first</button>
  </form>
  -->

  {% if count <= 4 %}
  <form action="upload/" method="post" class="form-horizontal" style="float:right;width:50%"
  enctype="multipart/form-data">{% module xsrf_form_html() %}
    <h3>Upload more pictures</h3>
    {% include "_show_fieldset.html" %}

    {% if preview %}
    <div>
      <h4>Preview</h4>
      {% module FourPicturesTable(preview) %}
    </div>
    {% end %}
  </form>
  {% end %}

  <form action="." method="post" class="" style="float:left;width:50%">

      <label>Iterations:</label>
      <input name="iterations" value="{{ iterations }}" style="width:35px">
      <br>
      <label>Distortion</label>
      <select name="function">
        <option value="blurrer" {% if function == 'blurrer' %}selected{% end %}>Blurrer</option>
        <option value="tileshift" {% if function == 'tileshift' %}selected{% end %}>Tile shift</option>
      </select>
      <br>
      <label>Effect (if applicable):</label> <input name="effect" value="{{ effect }}" style="width:35px">
      <br>
      <button type="submit" class="btn">{% if count == 1 %}Generate{% else %}Regenerate{% end %}</button>
  </form>
  <br style="clear:both">

    <div class="pictures">
      {% for picture in pictures %}
        <p><strong>{{ picture['index'] }}</strong><br>
            <a title="{{ picture['index'] }}" class="thumbnail-preview"
               data-toggle="modal"
               data-index="{{ picture['index'] }}"
               data-title="{{ picture['index'] }}"
               href="{% module GetPictureThumbnailSrc(picture, (300,300)) %}"
               >{% module ShowPictureThumbnail(picture, (300, 300)) %}</a>
        </p>
      {% end %}
    </div>



{% end %}
