{% extends "base.html" %}

{% block extrahead %}
<style>
#user-info {
  float:right;
  width: 40%;
}
dt { margin-top: 10px; }
</style>
{% end %}

{% block extrajs %}
<script>
$(function() {
  $('button[type="reset"]').click(function() {
    window.location = '../';
  });
  $('.error input', 'form').change(function() {
    $(this).parents('.error').removeClass('error');
  });
});
</script>
{% end %}

{% block content %}

  <h2>Edit user</h2>

  {% if form.errors %}
    <ul class="errors general-errors">
        {% for field_name, field_errors in [(n,form.errors[n]) for n in form.errors if form.errors[n]] %}
            {% for error in field_errors %}
                <li><strong>{{ form[field_name].label.text }}:</strong> {{ error }}</li>
            {% end %}
        {% end %}
    </ul>
  {% end %}

  <div id="user-info">
    <h4>User info</h4>
    <dl>
      <dt>Coins:</dt>
      <dd>{{ user_settings['coins_total'] }}</dd>

      <dt>Miles:</dt>
      <dd>{% module Thousands(int(user_settings['miles_total'])) %}</dd>

      <dt>Current location:</dt>
      <dd>{{ current_location }}</dd>

    </dl>

  </div>

  <form action="." method="post">{% module xsrf_form_html() %}


  <fieldset>

  {% for field in form %}
    <div class="clearfix {% if field.errors %}error{% end %}">
      {% raw field.label %}
      <div class="input">
      {% module RenderField(field) %}
      {% if field.errors %}
         <span class="help-inline">{% for error in field.errors %}{{ error }}<br>{% end %}</span>
      {% end %}
      </div>
    </div>
  {% end %}
    <div class="actions">
      <input type="submit" value="Save changes" class="btn primary">
      <button class="btn" type="reset">Cancel</button>
    </div>
  </fieldset>

  </form>
{% end %}
