{% extends "base.html" %}

{% block extrahead %}
<style>
#user-info {
  float:right;
  width: 40%;
}
dt { margin-top: 10px; }
</style>
{% end %}

{% block extrajs %}
<script>
$(function() {
  $('button[type="reset"]').click(function() {
    window.location = '../';
  });
  $('.error input', 'form').change(function() {
    $(this).parents('.error').removeClass('error');
  });
});
</script>
{% end %}

{% block content %}

  <p style="float:right">
    <a href="journey/">User Journey</a>
    &bull;
    <a href="total/">Total Earned</a>
  </p>
  <h2>Edit user</h2>

  {% include "_show_form_errors.html" %}

  <div id="user-info">
    <h4>User info</h4>
    <dl>
      <dt>Coins:</dt>
      <dd>{% module Thousands(user_settings['coins_total']) %}</dd>

      <dt>Total Earned:</dt>
      <dd>{% module Thousands(total_earned['coins']) %}</dd>

      <dt>Miles:</dt>
      <dd>{% module Thousands(int(user_settings['miles_total'])) %}</dd>

      <dt>Current location:</dt>
      <dd>{{ current_location }}</dd>

    </dl>

  </div>

  <form action="." method="post">{% module xsrf_form_html() %}
  {% include "_show_fieldset.html" %}
  </form>
{% end %}
